{
	"plugins": [
		"lodash",
		"@babel/transform-modules-commonjs",
		"@babel/proposal-object-rest-spread",
		"@babel/proposal-class-properties",
		"array-includes",
		[
			"@babel/transform-runtime",
			{
				"regenerator": true
			}
		]
	],
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "8.0"
				}
			}
		]
	]
}
